*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image wpkFile caches
Thumbs.db
ehthumbs.db

# Folder config wpkFile
Desktop.ini

# Recycle Bin used on wpkFile shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
.idea/
Soundpacks/
Files/
Sounds/
fsbext/
ressources/
logs/
out/
.settings/
bin/
UnrealLoL2.0.iml
Unreal.jar_Downloaded
TODO
Regions.xml
Path
Monsoon.jpg
Maokai.jpg
Archive_2.raf.dat
Archive_2.raf
src/url.txt
